<a href="https://colab.research.google.com/github/MARIAFER0596/Proyecto-Gesti-n-y-Almacenamiento-de-Datos-equipo-4/blob/main/Proyecto_GYAD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Instalaciones
!pip install unidecode
!pip install mysql-connector

Collecting unidecode
  Downloading Unidecode-1.4.0-py3-none-any.whl.metadata (13 kB)
Downloading Unidecode-1.4.0-py3-none-any.whl (235 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.8/235.8 kB 4.7 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.4.0
Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 69.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp312-cp312-linux_x86_64.whl size=247950 sha256=787a8807ab361c5cbe8d2a4761686d43e832e6aa387858dca3cce38592a5907c
  Stored in directory: /root/.cache/pip/wheels/03/17/fa/d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [3]:
from google.colab import drive
import pandas as pd
import matplotlib.pyplot as plt
from unidecode import unidecode
import mysql.connector

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:


import pandas as pd

# URLs de los CSVs
url_drug = "https://raw.githubusercontent.com/MARIAFER0596/Proyecto-Gesti-n-y-Almacenamiento-de-Datos-equipo-4/refs/heads/main/Datos/Drug_Disorder.csv"
url_mental = "https://raw.githubusercontent.com/MARIAFER0596/Proyecto-Gesti-n-y-Almacenamiento-de-Datos-equipo-4/refs/heads/main/Datos/Mental_Disorder.csv"
url_salud = "https://raw.githubusercontent.com/MARIAFER0596/Proyecto-Gesti-n-y-Almacenamiento-de-Datos-equipo-4/refs/heads/main/Datos/Salud_Mental_20250904.csv"

# Leer los CSVs directamente desde GitHub
df1 = pd.read_csv(url_drug)
df2  = pd.read_csv(url_mental)
df3= pd.read_csv(url_salud)

# Mostrar las primeras filas de cada dataframe
print(df1.head())
print(df2.head())
print(df3.head())

dfs = [df1, df2, df3]

#Value = Estimación del indicador
#Value Low y Up = Rango de incertidumbre, no se pueden transformar a flotantes

  Iso3 Location Name AMRO subregions              Causename Eng  Year   Sex  \
0  ARG     Argentina   Southern Cone  Amphetamine use disorders  2020  Male
1  ARG     Argentina   Southern Cone  Amphetamine use disorders  2020  Male
2  ARG     Argentina   Southern Cone  Amphetamine use disorders  2020  Male
3  ARG     Argentina   Southern Cone  Amphetamine use disorders  2020  Male
4  ARG     Argentina   Southern Cone  Amphetamine use disorders  2020  Male

    Age group                         Measure Name En Metric Name En  Value  \
0   0-4 years                                  Deaths           Rate    0.0
1   0-4 years  Disability-Adjusted Life Years (DALYs)           Rate    0.0
2   0-4 years      Years Lived with Disability (YLDs)           Rate    0.0
3   0-4 years               Years of Life Lost (YLLs)           Rate    0.0
4  0-14 years                                  Deaths           Rate    0.0

   Value Low  Value Up
0        0.0       0.0
1        0.0       0.0
2        0.0       0.0
3        0.0       0.0
4        0.0       0.0
  Iso3 Location Name AMRO subregions  Year   Sex   Age group  \
0  ARG     Argentina   Southern Cone  2020  Male   0-4 years
1  ARG     Argentina   Southern Cone  2020  Male   0-4 years
2  ARG     Argentina   Southern Cone  2020  Male  0-14 years
3  ARG     Argentina   Southern Cone  2020  Male  0-14 years
4  ARG     Argentina   Southern Cone  2020  Male  0-19 years

                          Measure Name En Metric Name En     Value Value Low  \
0  Disability-Adjusted Life Years (DALYs)           Rate    353.15    215.78
1      Years Lived with Disability (YLDs)           Rate    353.15    215.78
2  Disability-Adjusted Life Years (DALYs)           Rate  1,048.49    578.09
3      Years Lived with Disability (YLDs)           Rate  1,048.49    578.09
4  Disability-Adjusted Life Years (DALYs)           Rate  1,389.57    768.65

   Value Up
0    527.60
1    527.60
2  1,682.93
3  1,682.93
4  2,220.76
                                diagnostico_ingreso codigo_dx_ingreso  \
0           TRASTORNO MIXTO DE ANSIEDAD Y DEPRESION              F412
1  EPISODIO DEPRESIVO GRAVE SIN SINTOMAS PSICOTICOS              F322
2                       EPISODIO DEPRESIVO MODERADO              F321
3       TRASTORNO AFECTIVO BIPOLAR, NO ESPECIFICADO              F319
4                    ESQUIZOFRENIA, NO ESPECIFICADA              F209

   Menor a 1  De 1 a 4  De 5 a 9  De 10 a 14  De 15 a 19  De 20 a 49  \
0          0         0         0          10           9          31
1          0         0         0          10          10          31
2          0         0         0           3           2          11
3          0         0         0           1           1          12
4          0         0         0           1           0          14

   De 50 a 64  65 Y MAS  Total  Año diagnóstico
0           8         2     60             2023
1           4         3     58             2023
2           1         4     21             2023
3           4         1     19             2023
4           0         0     15             2023

In [5]:
df_final = pd.concat(dfs, ignore_index=True)

# Exportar a CSV
df_final.to_csv("todos_los_datos.csv", index=False, encoding='utf-8')

In [6]:
def transform (dfs):
  for i, df in enumerate(dfs, start = 1):

    df.drop_duplicates(inplace=True)
    df.dropna(inplace=True)
    #Si se les ocurren transformaciones las pueden agregar, el caso es que como los datos estan bien organizados
    #no había que hacer nada
    if 'Year' in df.columns:
      df['Year'] = df['Year'].astype("int")
    elif 'Año diagnóstico' in df.columns:
      df['Año diagnóstico'] = df['Año diagnóstico'].astype("int")

In [11]:
transform(dfs)
df1.head(20)

,Iso3,Location Name,AMRO subregions,Causename Eng,Year,Sex,Age group,Measure Name En,Metric Name En,Value,Value Low,Value Up
0,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-4 years,Deaths,Rate,0.00,0.00,0.00
1,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-4 years,Disability-Adjusted Life Years (DALYs),Rate,0.00,0.00,0.00
2,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-4 years,Years Lived with Disability (YLDs),Rate,0.00,0.00,0.00
3,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-4 years,Years of Life Lost (YLLs),Rate,0.00,0.00,0.00
4,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-14 years,Deaths,Rate,0.00,0.00,0.00
5,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-14 years,Disability-Adjusted Life Years (DALYs),Rate,0.00,0.00,0.00
6,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-14 years,Years Lived with Disability (YLDs),Rate,0.00,0.00,0.00
7,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-14 years,Years of Life Lost (YLLs),Rate,0.00,0.00,0.00
8,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-19 years,Deaths,Rate,0.00,0.00,0.00
9,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-19 years,Disability-Adjusted Life Years (DALYs),Rate,2.13,0.22,4.96
10,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-19 years,Years Lived with Disability (YLDs),Rate,2.13,0.22,4.96
11,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-19 years,Years of Life Lost (YLLs),Rate,0.00,0.00,0.00
12,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-24 years,Deaths,Rate,0.00,0.00,0.00
13,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-24 years,Disability-Adjusted Life Years (DALYs),Rate,9.64,3.16,19.31
14,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-24 years,Years Lived with Disability (YLDs),Rate,9.52,3.10,19.12
15,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-24 years,Years of Life Lost (YLLs),Rate,0.12,0.06,0.19
16,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-27 days,Deaths,Rate,0.00,0.00,0.00
17,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-27 days,Disability-Adjusted Life Years (DALYs),Rate,0.00,0.00,0.00
18,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-27 days,Years Lived with Disability (YLDs),Rate,0.00,0.00,0.00
19,ARG,Argentina,Southern Cone,Amphetamine use disorders,2020,Male,0-27 days,Years of Life Lost (YLLs),Rate,0.00,0.00,0.00

In [12]:
conn = mysql.connector.connect(
    host="",
    user="",
    password="",
    database="datos"

)

cursor = conn.cursor()

#Query
#Las 3 tablas tienen las mismas columnas pero son temas diferentes porque la rubrica decia que habia que esocger varias fuentes
cursor.execute("""
   CREATE TABLE IF NOT EXISTS Drug_Disorder(
    iso3 VARCHAR(10),
    location_name VARCHAR(30),
    amro_subregions VARCHAR(20),
    causename_eng VARCHAR(150),
    year int,
    sex VARCHAR(10),
    age_group VARCHAR(10),
    measure_name_en VARCHAR(100),
    metric  VARCHAR(10),
    value VARCHAR(10),
    value_low VARCHAR(10),
    value_up VARCHAR(10)
   );
""")

cursor.execute("""
   a
""")

cursor.execute("""
   CREATE TABLE IF NOT EXISTS Neurological_Conditions(
    iso3 VARCHAR(10),
    location_name VARCHAR(30),
    amro_subregions VARCHAR(20),
    causename_eng VARCHAR(150),
    year int,
    sex VARCHAR(10),
    age_group VARCHAR(10),
    measure_name_en VARCHAR(100),
    metric  VARCHAR(10),
    value VARCHAR(10),
    value_low VARCHAR(10),
    value_up VARCHAR(10)
   );
""")

conn.commit()
#cursor.close()

InterfaceError: 2003: Can't connect to MySQL server on ':3306' (-2 Name or service not known)

In [ ]:
cursor.execute("""
   INSERT INTO Drug_Disorder (iso3, location_name, amro_subregions, causename_eng, year, sex, age_group, measure_name_en, metric, value, value_low, value_up)
   VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
""")

cursor.execute("""
   INSERT INTO Mental_Disorder (iso3, location_name, amro_subregions, causename_eng, year, sex, age_group, measure_name_en, metric, value, value_low, value_up)
   VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
""")

cursor.execute("""
   INSERT INTO Neurological_Conditions (iso3, location_name, amro_subregions, causename_eng, year, sex, age_group, measure_name_en, metric, value, value_low, value_up)
   VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
""")